body {
  background: linear-gradient(135deg, #1e1e2f, #2a2a4d);
  color: #fff;
  min-height: 100vh;
}

.navbar {
  background-color: #29294d !important;
}

.card {
  background-color: #343456;
  border: none;
  transition: transform 0.2s ease-in-out;
  color: #fff;
}

.card:hover {
  transform: translateY(-5px);
}

.btn-primary {
  background-color: #6c63ff;
  border: none;
}

.btn-primary:hover {
  background-color: #5848e5;
}

.contBotaoAddTreino {
  background-color: #6c63ff;
  width: 50%;
}
